{% extends "layout.html" %}
{% block title %}
register
{% endblock %}
{% block content %}
<br>
<div class="container marketing" style="color:white">

    <!-- START THE FEATURETTES -->
    <div class="signpost"><h1>Auth/Register</h1></div>
    <hr class="featurette-divider">
    <form method="post">
      <label for="username">Username</label>
      <input name="username" id="username" required>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
      <input type="submit" value="Register">
    </form>
    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
{% endblock %}